[Unit]
Description=Download weather station data

[Service]
Type=simple
ExecStart=%h/METEO/RUN_post/stations_downloader.sh
StandardOutput=append:%h/METEO/RUN_post/stations_downloader.log
StandardError=append:%h/METEO/RUN_post/stations_downloader.err
TimeoutStartSec=180
