[Unit]
Description=Download weather station data

[Service]
Type=simple
ExecStart=%h/CODES/RUN_plots/stations_downloader.sh
StandardOutput=append:%h/CODES/RUN_plots/logs/stations_downloader.log
StandardError=append:%h/CODES/RUN_plots/logs/stations_downloader.err
