# ~/CODES/RUN_plots/sync_wrfout_watcher.service
[Unit]
Description=Copy wrfout_watcher.service to systemd user configs

[Service]
Type=oneshot
ExecStart=%h/CODES/RUN_plots/sync_wrfout_watcher.sh
