[Unit]
Description=Persistent WRFOUT Processor Watcher
After=network.target

[Service]
Type=simple
ExecStart=%h/METEO/RUN_post/wrfout_watcher.sh
Restart=on-failure
RestartSec=5
StandardOutput=append:%h/METEO/RUN_post/wrfout_watcher.log
StandardError=append:%h/METEO/RUN_post/wrfout_watcher.err

[Install]
WantedBy=default.target
